@use 'src/stylesheet/vars' as *;
@import '../../../stylesheet/utils/colors';
@import '../../../stylesheet/utils/mixins';
@import '../../../stylesheet/utils/placeholders';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  @include mixins-mq(mob-only) {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  @include mixins-mq(tab) {
    background: var(--modal-background-color-grey);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.box {
  position: fixed;
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  @include mq(tab) {
    width: 540px;
    border-radius: 20px;
    padding: 40px 73px 40px 73px;
    height: auto;
  }
}

.logo {
  @include mq(mob-only) {
    width: 280px;
    height: 130px;
  }
  @include mq(tab) {
    width: 380px;
    height: 175px;
  }
}

.title {
  @include mq(mob-only) {
    font-size: 24px;
  }
  @include mq(tab) {
    font-size: 30px;
  }
}

.btnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.noBtn {
  @extend %btnTransperentBlue;

  padding: 13px 0;
  text-transform: uppercase;
  border-radius: 20px;
  @include mq(mob-only) {
    width: 130px;
  }
  @include mq(tab) {
    width: 180px;
  }
}

.yesBtn {
  @extend %btnGreen;
  width: 180px;
  padding: 13px 0;
  border-radius: 20px;
  text-transform: uppercase;
  @include mq(mob-only) {
    width: 130px;
  }
  @include mq(tab) {
    width: 180px;
  }
}
