@import '../../stylesheet/utils/colors';
@import '../../stylesheet/utils/mixins';

.container {
  margin: 43px 20px 51px 20px;

  @include mq(tab) {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px 32px 27px 32px;
  }
  @include mq(desk) {
    display: flex;
    margin: 32px 16px 44px 69px;
  }
}
