@use '../../stylesheets/vars' as *;

.containerHeader {
  height: 80px;
  background-color: var(--background-white-color);
  width: 100%;
  margin: 0 auto;
}

.header {
  @include flex-display(null, null, space-between);
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  @include mixins-mq(tab) {
    position: static;
    z-index: 0;
  }
}

.logo svg {
  width: 30px;
  height: 30px;
  margin: 0px 20px;
  border: var(--background-white-color);
  @include mixins-mq(tab) {
    width: 40px;
    height: 40px;
  }
}
.exit svg {
  width: 18px;
  height: 18px;
  margin-right: 11px;
}

.button {
  cursor: pointer;
  @include flex-display(row, null, null, center);
  background: none;
  border: none;
  transition: transform 0.2s;
}
.button:hover {
  transform: scale(1.1);
}

.main {
  @include flex-display(null, null, center, center);
}

.logout {
  font-family: 'Circe';
  color: var(--text-grey-color);
  @include font-type(normal, text-medium);
}
.logout:hover {
  text-decoration: underline;
}

.dot {
  display: none;
  border: 1px solid #bdbdbd;
  height: 30px;
  margin: 12px;
  @include mixins-mq(tab) {
    display: inline;
  }
}

.wallet {
  font-family: 'poppins';
  @include font-type(bold, header-normal, height);
  color: var(--text-primary);
  font-size: 25px;
  @include mixins-mq(tab) {
    font-size: 32px;
  }
}
