@use '../stylesheet/vars' as *;

.refresh {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;

  @include mixins-mq(tab) {
    background-color: #e7eaf2;
    background-image: url('../images/login/ellipse1.svg'),
      url('../images/login/ellipse2.svg');
    background-repeat: no-repeat;
    background-position-x: 0%,56vw;
    background-position-y: bottom,top;
  }

  @include mixins-mq(desk) {
    height: 100vh;

    background-image: url('../images/login/ellipse1.svg'),
      url('../images/login/ellipse2.svg');
  }
}
