
.loader {
  position: absolute;
  transform: translate(-50%, -50%);
  right: 50%;
  bottom: 50%;
}

.refresh {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 20%);
}

.spinnerPosition {
  position: relative;
  left: 50%;
  top: 50%;
}